/* body{
    background: white;
    color: white;
} */
.Chats_parent {
    /* background-color: blue; */
    
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: center;    
}
.CreateButton{
    background-color: white;
    color: black;
    width: 300px;
    display: flex;
 
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
    max-width: 300px;
    border: 1px solid white;
    
    
}

.CreateButton:hover{
    cursor: pointer;
    background-color: #FF8A00;
}
.Chats_parent2 div{
    /* background-color: blue; */
    
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    
    
}


.Chat{
    
    /* flex-grow: 1; */
    border-radius: 10px;
    height: 150px;
    width: 300px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid white;
    box-shadow: 10px 10px;
    background-color: #FF8A00;
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);    
}

.Chat:hover{
    cursor: pointer;
    background-color: rgb(180, 123, 18);

}



.Chats_parent_middlepanel_title{
margin-left: 20px;
background-color: none;
color: white;
margin-bottom: 20px;
margin-right: 10px;
margin-top: 10px;
border-radius: 20px;
padding-left: 10px;

}

.Chats_parent_middlepanel_vehicle{
margin-left: 20px;
background-color: none;
color: white;
margin-bottom: 20px;
margin-right: 10px;
border-radius: 20px;
padding-left: 10px;

}



.Chats_parent_middlepanel_Operations{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

