body, html{
    height: 100%;
}

body{
    /* background-image: url("../../public/ferrari-360-2918130_1280.jpg"); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}




.Home_parent{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;

}
.HomeSignUp, .HomeSignIn{
    background-color: #FF8A00;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}