@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #ffc187;
} */
/* form */
.form-container{
  width: 1000px;
}
.title,
.slogan{
  text-align: center;
}
.btn{
  width:100%;
}
.auth-image{
  width: 100%;
  border-radius: 8px;
}
.alert{
  margin-bottom: 1.5rem;
}
/* profile-card*/
.profile-card{
  width: 1400px;
}
.avatar{
  margin-bottom: 1.5rem ;
}
.username{
  text-transform: capitalize;
}
.profile-btn{
  margin-top: 1.3 rem;
  width: 100%;
}